:root {
  --color-background: whitesmoke;
  --primary: #111111;
  --secondary: #cacaca;
  --logo: #e60022;
  --transparent: rgba(245, 245, 245, 0.862);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--primary);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark {
  background-color: var(--primary);
  color: var(--color-background);
}

.dark input,
.dark .gallery-item button,
.dark header button {
  background-color: #333;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.active {
  background-color: var(--primary);
  color: var(--color-background);
  padding: 1rem 1.4rem;
  border-radius: 2rem;
}

li {
  list-style-type: none;
}

/* HEADER */
header {
  display: flex;
  height: 15vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  gap: 1.5rem;
}

header > h1 {
  background-color: var(--logo);
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  border-radius: 50%;
  color: var(--color-background);
  width: auto;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

header input {
  padding: 1rem 1.4rem;
  border-radius: 2rem;
  flex-grow: 1;
  background-color: var(--secondary);
  border: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

header button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

header button:hover {
  background-color: var(--secondary);
}

header img {
  height: 50px;
  width: 50px;
}

header .icon {
  filter: contrast(30%);
}

header .profileimg {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

/* FOOTER */
footer {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* GALLERY ITEM */
.gallery-item {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 2rem;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.01);
}

.gallery-item .hidden-img {
  display: none;
}

.gallery-item > div {
  padding: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: brightness(50%) blur(3px);
  display: none;
}

.gallery-item:hover > div {
  display: flex;
  cursor: zoom-in;
}

.gallery-item .save-btn {
  display: flex;
  justify-content: flex-end;
}

.gallery-item .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gallery-item button {
  padding: 1rem 1.4rem;
  border-radius: 2rem;
  border: none;
  background-color: var(--logo);
  color: var(--color-background);
  font-size: 1rem;
}

.gallery-item .links a {
  background-color: var(--transparent);
  padding: 0.5rem;
  border-radius: 2rem;
  font-size: 0.8rem;
}

.gallery-item .links img {
  width: 24px;
  height: 24px;
}

.gallery-item .links div {
  display: flex;
  gap: 1rem;
}

.gallery-item .links-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-item .full-link {
  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  color: black;
}

/* GALLERY GRID */
.gallery {
  padding: 0 1rem;
  display: grid;
  grid-auto-rows: minmax(200px, auto);
  gap: 1rem;
  grid-auto-flow: row dense;
}

@media screen and (min-width: 576px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}
